/* responsive  */
@media (max-width: 480px) {
  .container-navbar {
    padding: 10px 30px;
  }
  .container-content {
    padding: 80px 30px 80px 30px;
  }
  .container-navbar.sticky {
    padding: 20px 30px;
  }
  .container-content-banner {
    padding-top: 0px;
  }
  .image-banner {
    margin-right: -30px;
  }
  .container-content-banner {
    padding-top: 0px;
    position: relative;
  }
  .container-content-banner {
    padding-top: 20px;
  }
  .container-card-f {
    width: 100%;
    max-width: 320px;
    position: relative;
    overflow: auto;
  }
  .card-idea {
    margin-right: 10px;
    padding: 30px 30px;
  }
  .container-idea-f {
    width: 100%;
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 575.98px) {
  .container-navbar {
    padding: 10px 30px;
  }
  .container-content {
    padding: 80px 30px 80px 30px;
  }
  .container-navbar.sticky {
    padding: 20px 30px;
  }
  .container-content-banner {
    padding-top: 80px;
    position: relative;
  }
  .container-card-f {
    width: 100%;
    max-width: 480px;
    position: relative;
    overflow: auto;
  }
  .card-idea {
    margin-right: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-navbar {
    padding: 10px 30px;
  }
  .container-content {
    padding: 80px 30px 50px 30px;
  }
  .container-navbar.sticky {
    padding: 20px 30px;
  }
  .container-content-banner {
    padding-top: 80px;
    position: relative;
  }
  .container-card-f {
    width: 100%;
    max-width: 576px;
    position: relative;
    overflow: auto;
  }
  .card-idea {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-navbar {
    padding: 10px 30px;
  }
  .container-content {
    padding: 80px 30px 80px 30px;
  }
  .container-navbar.sticky {
    padding: 20px 30px;
  }
  .container-content-banner {
    padding-top: 80px;
    position: relative;
  }
  .container-card-f {
    width: 100%;
    max-width: 768px;
    position: relative;
    overflow: auto;
  }
  .card-idea {
    margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1044px) {
  .container-navbar {
    padding: 10px 120px;
  }
  .container-content {
    padding: 80px 120px 80px 120px;
  }
  .container-navbar.sticky {
    padding: 20px 120px;
  }
  .container-content-banner {
    padding-top: 80px;
    position: relative;
  }
}

@media (min-width: 1044px) {
  .container-navbar {
    padding: 10px 120px;
  }
  .container-content {
    padding: 80px 120px 80px 120px;
  }
  .container-navbar.sticky {
    padding: 20px 120px;
  }
  .image-banner {
    margin-right: -120px !important;
  }
  .container-content-banner {
    padding-top: 80px;
    position: relative;
  }
  .container-card-f {
    width: 100%;
    max-width: 1000px;
    position: relative;
    overflow: auto;
  }

  .card-idea {
    margin-right: 10px;
  }
}
